.banner {
    background: url("/star3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    top: 50%;
    padding: 20%;

    h1 {
        color: $white;
    }

    h2 {
        color: $white;
    }

    .create-event-now {
        position: relative;
    }
    .title-name {
        text-align: left;
    }
}
