.banner{
    

    background: url('/star3.png') center fixed;
    height: 650px;
    width: 100%;
    top: 50%;
    padding: 20%;

    h1{
        color: $white;
        transform-origin: 100%;
        transform: rotate(90deg);
        transition: all 0.05s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }

    h2{
        color: $white;
    }

    .create-event-now{
        position: relative;
    }


}