.banner {
    background: url("/star3.png") center fixed;
    height: 650px;
    width: 100%;
    top: 50%;
    padding: 20%;

    h1 {
        color: $white;
    }

    h2 {
        color: $white;
    }

    .create-event-now {
        position: relative;
    }
    .title-name {
        text-align: left;
    }
}

.banner-block-2 {
    .image-block {
        &:hover {
            border: none;
            opacity: 1;
        }
    }
    .edittext {
        font-weight: bolder;
        font-size: xx-large;
        margin-top: -20%;
        padding-left: 44%;
        align-content: center;

        &:hover {
            border: black solid 1px;
        }
    }
}
