.banner-block-3 {
    position: relative;
    background: none;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
        padding: 50px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: #fff;
    }

    .text {
        padding: 50px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: #fff;
    }
    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 1;

        &:hover {
            cursor: pointer;
        }
    }
}
