.banner {
  background: url('https://demo2.wpopal.com/spker/wp-content/uploads/2019/07/rev_sliderhome2_1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  top: 50%;
  padding: 15%;

  .title-h2 {
    z-index: 7;
    white-space: nowrap;
    font-size: 20px;
    line-height: 100px;
    color: $white;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 4;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
  }

  .create-event-now {
    position: relative;
  }

  .title-name {
    text-align: left;
    z-index: 6;
    white-space: nowrap;
    font-size: 70px;
    line-height: 100px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
  }
}
