.check-code {
    font-weight: bold;

    .notify-enter-code {
        text-align: center;
    }

    .error-message {
        background-color: $background-error;
        color: $color-error;
        border-radius: 5px;
        line-height: 35px;
        padding-left: 10px;
    }
    .changePassword {
        width: 100% !important;
        border-radius: 5px !important;
        height: 40px !important;
    }
}
