.create-event {
    padding-top: 5%;
    $base-duration: 500ms;

    .drop-area {
        border: dashed 1px rgb(228, 149, 149);
        height: auto;
        overflow: hidden;
        padding-top: 1%;

        .icons-handle {
            padding: 10px;
            margin-top: 20px;
            height: 120px;

            &:hover {
                border: dashed 1px rgb(0, 50, 216);
                opacity: 0.9;
                cursor: pointer;
            }
            .anticon {
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .child-block {
            &:hover {
                border: dotted 1px rgb(138, 134, 134);
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }

    .menu-updated {
        position: fixed;
        top: 9%;
        left: 0;
        z-index: 3000;

        .menu-wrap {
            direction: rtl;
            overflow-y: scroll;
            .menu-block {
                direction: ltr;
                height: 400px;
                .menu {
                    direction: ltr;
                    .drag-container {
                        padding-left: 15px;
                        .menu-item {
                            font-weight: 300;
                            margin: 10px;

                            &:hover {
                                cursor: pointer;
                                color: rgb(10, 32, 236);
                            }
                        }
                    }
                }
            }
        }
    }
}
