@mixin menu-items() {
  padding-left: 35px;
  font-weight: 300;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.create-event {
  padding-top: 5%;
  $base-duration: 500ms;

  .drop-area {
    border: dashed 1px rgb(228, 149, 149);
    padding-top: 1%;
    margin-left: 10% !important;
    width: 1200px;

    transition: right $base-duration ease;
    .icons-handle {
      // display: none;

      padding: 2px;
      margin-top: 12px;
      height: 106px;
      width: 26px;

      &:hover {
        border: dashed 1px rgb(0, 50, 216);
        opacity: 0.9;
        cursor: pointer;
      }
      .anticon {
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .child-block {
      width: 100%;
      &:hover {
        border: dotted 1px rgb(138, 134, 134);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        // opacity: 0.9;
        cursor: pointer;
        .icons-handle {
          display: block;
        }
      }

      .edit-text {
        display: none;
      }

      .text-block {
        &:hover {
          .edit-text {
            display: block;
          }
        }
      }
    }
  }

  .move-right {
    margin-left: 20% !important;
    margin-right: 2%;
    transition: right $base-duration ease;
  }

  .menu-update {
    position: fixed;
    top: 10%;

    .menu-show {
      transition: left $base-duration ease;
      z-index: 0;
      width: 250px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 500px;
      .menu-item {
        @include menu-items();
      }
    }

    .menu-hide {
      margin-left: -500px;
      transition: left $base-duration ease;
      z-index: 0;
      width: 0px;
    }
  }

  .custom-modal {
    z-index: 1;
    overflow-y: scroll;

    .header-modal {
      color: rgb(14, 14, 243);
    }
  }
  .flexible-modal {
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    background: white;
  }
  .flexible-modal-mask {
    position: fixed;
    height: 100%;
    background: rgba(55, 55, 55, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .flexible-modal-resizer {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    margin: 5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
  }
  .flexible-modal-drag-area {
    background: rgba(22, 22, 333, 0.2);
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: move;
  }
}
