.create-event {
    padding-top: 5%;
    $base-duration: 500ms;
    position: relative;
    .drop-area {
        border: dashed 1px rgb(228, 149, 149);
        height: auto;
        overflow: hidden;
        padding-top: 1%;
        position: relative;
        margin-left: 10% !important;

        .icons-handle {
            padding: 2px;
            margin-top: 12px;
            height: 106px;
            width: 26px;

            &:hover {
                border: dashed 1px rgb(0, 50, 216);
                opacity: 0.9;
                cursor: pointer;
            }
            .anticon {
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .child-block {
            &:hover {
                border: dotted 1px rgb(138, 134, 134);
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }

    .move-right {
        margin-left: 20% !important;
        margin-right: 2%;
    }

    .menu-update {
        position: fixed;
        top: 10%;

        .menu-show {
            // margin-left: 0px;
            transition: left $base-duration ease;
            z-index: 0;
            width: 250px;
            overflow-y: scroll;
        }

        .menu-hide {
            margin-left: -500px;
            transition: left $base-duration ease;
            z-index: 0;
            width: 0px;
            overflow-y: scroll;
        }

        // position: fixed;
        // top: 9%;
        // left: 0;
        // .menu-wrap {
        //     direction: rtl;
        //     overflow-y: scroll;
        //     .menu-block {
        //         direction: ltr;
        //         height: 400px;
        //         .menu {
        //             direction: ltr;
        //             .drag-container {
        //                 padding-left: 15px;
        //                 .menu-item {
        //                     font-weight: 300;
        //                     margin: 10px;

        //                     &:hover {
        //                         cursor: pointer;
        //                         color: rgb(10, 32, 236);
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}
