.credit-card{
   
    .card {
        @import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
        @import url('https://fonts.googleapis.com/css?family=Overpass+Mono');
        
        --purple: #892a92;
      --purple2: #70217a;
      --white: #f6d3fd;
      --height: 222px;
      --width: 350px;
      --font: "Overpass Mono", monospaced;
      --masterFont: "Raleway", sans-serif;
   
      --baseColor: #c2e59c;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background: var(--baseColor);
      background: linear-gradient(to right, #64b3f4, var(--baseColor));
    
      --heightCalc: - calc((var(--height) / 2) - 10px);
      --widthCalc: calc(var(--width) / 2);
      height: var(--height);
      width: var(--width);
      min-width: var(--width);
      background: linear-gradient(90deg, var(--purple), var(--purple2));
      border-radius: 10px;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
      margin: 10px auto;
      position: relative;
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
      transform: translateY(calc(50% - 10px));
  
    .card__figure {
      position: relative;
      height: 40px;
      margin: 0;
    }
    
    .card__figure::after {
      content: "PLATINUM";
      font-size: 0.45em;
      letter-spacing: 4px;
      color: var(--white);
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: calc(-100% - 15px);
    }
    
    .card__figure--logo {
      --widthLogo: 130px;
      width: var(--widthLogo);
      position: absolute;
      right: 50%;
      transform: translate(calc(var(--widthLogo) / 2), 20px);
    }
    
    .card__reader {
      width: 50px;
      height: 40px;
      background: radial-gradient(#d9a56c, #b18457);
      border-radius: 5px;
      position: absolute;
      top: 50%;
      transform: translate(33px, -40px);
      overflow: hidden;
    }
    
    .card__reader--risk {
      width: 50px;
      height: 40px;
      border-radius: 13px;
      background: transparent;
      border: 1px solid #666;
      position: absolute;
      z-index: 0;
    }
    
    .card__reader--risk-one {
      transform: translate(37px, 15px);
    }
    
    .card__reader--risk-two {
      transform: translate(15px, 30px);
    }
    
    .card__reader--risk-three {
      transform: translate(-37px, -15px);
    }
    
    .card__reader--risk-four {
      transform: translate(-15px, -30px);
    }
    
    .card__number {
      font-family: var(--font);
      font-size: 1.15em;
      font-weight: normal;
      color: var(--white);
      letter-spacing: 2.5px;
      text-align: center;
      margin-left: -20px;
      margin-top: 80px;
      z-index: 1;
      position: relative;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    }
    
    .card__number::before,
    .card__number::after {
      font-family: Arial;
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.4em;
      position: absolute;
      letter-spacing: 0px;
    }
    
    .card__number::before {
      content: "5032";
      transform: translate(15px, 22px);
    }
    
    .card__number::after {
      content: "Valid thru";
      width: 80px;
      transform: translate(-215px, 22px);
    }
    
    .card__dates {
      position: absolute;
      width: 40%;
      font-size: .9em;
      display: flex;
      justify-content: space-between;
      color: var(--white);
      font-family: var(--font);
      bottom: 22%;
      transform: translate(60px, 0px);
    }
    
    .card__dates span {
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    }
    
    .card__name {
      font-family: var(--font);
      font-size: .9em;
      font-weight: normal;
      color: var(--white);
      letter-spacing: 2.5px;
      transform: translate(35px, 25px);
      position: relative;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    }
    
    .card__flag {
      right: 30px;
      top: 45%;
      border-radius: 25px;
      transform: translate(0, -28px);
      position: absolute;
      height: 110px;
      width: 80px;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    .card__flag--globe {
      --margin: 5px;
      width: calc(100% - (var(--margin) * 2));
      background-color: #b7b2b8;
      height: 50%;
      border-radius: 20px;
      margin: var(--margin);
      background: repeating-linear-gradient(
        0deg,
        #dbd1dc,
        #dbd1dc 5px,
        #b2aab5 7px,
        #b2aab5 5px
      );
    }
    
    .card__flag--globe::after,
    .card__flag--globe::before {
      content: "\f0ac";
      font-family: FontAwesome;
      color: rgba(0, 0, 0, 0.2);
      font-size: 3em;
      top: 6px;
      left: 2px;
      position: absolute;
    }
    
    .card__flag--globe::after {
      transform: translateX(10px);
    }
    
    .card__flag--globe::before {
      transform: translateX(25px);
    }
    
    .card__flag--red {
      position: absolute;
      left: 5px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ce0e1d;
    }
    
    .card__flag--yellow {
      position: absolute;
      right: 5px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #e39833;
    }
    
    .card__flag--yellow::after {
      content: "MasterCard";
      position: absolute;
      font-size: 0.7em;
      top: 50%;
      transform: translate(-25px, -7px);
      font-family: var(--masterFont);
      font-style: italic;
      font-weight: 800;
      color: var(--white);
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }
    
    .assign {
      text-align: center;
      margin-top: 113px;
      font-family: var(--masterFont);
      color: #fff;
      font-size: 0.8em;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    }
    
    .assign a {
      text-decoration: none;
      font-weight: 700;
      color: #FFF;
    }
    
    .assign a::hover {
      color: var(--purple);
    }
}
    
   .visa_card {
       
a {
    color: #000;
  }
  
 
  .panel {
    width: 300px;
    margin: 0 auto;
    // margin-bottom: 50px;
    text-align: center;
  }
  
  .card__number{
      margin-top: 30px
  }
  
  .card {
    // font: 16px/1.5 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    height: 200px;
    text-align: left;
    padding: 30px;
    margin-bottom: 50px;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    background: url(data:image/jpg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABGAAD/7gAmQWRvYmUAZMAAAAABAwAVBAMGCg0AAAWlAAAFyQAACgMAAA1W/9sAhAAEAwMDAwMEAwMEBgQDBAYHBQQEBQcIBgYHBgYICggJCQkJCAoKDAwMDAwKDAwNDQwMEREREREUFBQUFBQUFBQUAQQFBQgHCA8KCg8UDg4OFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAEOAakDAREAAhEBAxEB/8QAggABAQEBAQEBAAAAAAAAAAAAAAECBQQDBwEBAQEBAAAAAAAAAAAAAAAAAAECAxABAAAAAAAAAAAAAAAAAAAAoBEBAAAAAAAAAAAAAAAAAAAAoBIBAAAAAAAAAAAAAAAAAAAAoBMBAQEBAQEBAQADAQAAAAAAABEBECAwQFBwgKCQ/9oADAMBAAIRAxEAAAH8078BAQAAAhIhAAUFABapTRpLQoKUpSmqppKarRaqCKIAUHK5alCEAKAQEiAApaoAAKaKaspQCgpSlrRpNGqpqhSAhAQHM56hCCAFUEBIAFqlKACFKU1ZopQACgpa0aTRqtVSoUkWEJEIc7GoQkBSFAAQQLVNFKhSRQKaspo0AAAClrRpNGq1VKVBCLkkZIeDGoZIICgABAUpopUtASALWjRotEpFRAClqmk3WjVUpUEIuTMZIeLFysIQFAiUIClKU0lqgEEKpo0WtIUEiogBa0aTVaNVopUEIuTMZIeLFysIAAEiiApSmi2aABAUpTRqqhQSLIAFrRU0brRa0UJFhmMkIeDFiwIUCAgIUFKaS1SgEKCmi1pBQRUSkQorRU0arRqtFQRYZiEBzsagCAFgIQApSmktUFABSlLVKgLBEABS1TSU3Wq0UJFhIyBXM5aChQQEIICqDRSpaoBQUpS1UKJAAgAKWqaNpqtVoEISIQVyuWqUVQCEECVYFoaKVBaoKUpSggABAAAUtaNJutGqAzEIAcnlu1UoqkAiAAAtUpSpS1SlKAAQAAgABSmjVbTVUpCEiChyeXSpaqCggAAAKUtUoKlLWigEBAAAQAFKU2arSUpAQigcnlu1UtCgIAIAUFKWqUFNJRVIIgCkKIAEoLVNGjVUIWCJQHK5bpaqCgAUAAKEpSgtUpQUgBAAACgApUtaKUAEABzOe6C0ABUAAApaFKEoKUCkCAAAoqgFBSlSirECiAHOxupQAAKoAAKVBQWgKCgAgABQVBQWgKUFAIAAeDnu0AQpABQAC1QUAoCChRAAAVKKpQgoBQAAFAHixqgEFAAAUIKCgtAACgEAgBVKUqC0ABQABAKB5M0ACAAAFFCgFAQpKAAAsBQlBapQAUAAAAAp5c6IIAQAAoABQKFAAKAQAAoKVKBVAAAKAIAHmzoAQAAUACCgAAoAAAAAKKpQUAAAoAAKAefNAgAIAACigABQACoUQAoQUFAqgAAAoAi0EfCUQAEAAAABQAAKoAAAAKAVAAKAAAUAoB8c0QUBAAAAAACgAAoBACgCqAAUAAAFAKCnxzQSAKQSgAAAAKAAAAAAUAAoAAABQAUAp8pSFAiFAAAIAoAFIAAAABQAAAUAAAFAKAYlAgAIEAAKAAsAFAAAAAAAABQAAAUAFBmUCAEAAAAICgAAUCFAAAIAAKFBAAKoBEtFSBACAAEAAABQAAALIABAFACgKAogAACgARKAgAIAAAACgAgAAAAAAABQAAAAUAogShAAQAAAAAoBAAAAAAAAAAAUAAAoBYgoQAEAAAABQCAAAAAAAAAAAAAAoBQWBKEABAAAAAUAgAAAAAAAAAAAAAC1AKf/2gAIAQEAAQUCZZ//2gAIAQIAAQUCZZ//2gAIAQMAAQUCZZ//2gAIAQICBj8CZZ//2gAIAQMCBj8CZZ//2gAIAQEBBj8CZZ//2gAIAQEDAT8h/FET+DfxxET+BfxxET8eM/q4xn9TGfLf5eMZ8Nb/AC8Yz+rjGf1cYz5X+TWazWb8qv8AGqqzWazWaq+6v7r8Kqs1ms1VVVVVVfFX8tVVVVXxfFVms1VVVVVXzVVftVVVVVVVVVVV81VVVVVVV8VVX61VVVVVVVVVVV9VVVVVVVV8VVVVVfhVVVVVVVVVVVVfVVVVVVVVfFVVVVVVXl5VVVVVVVVVVVVVVVVVVVVVVVVfFXlVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVfjVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVflVVeVVVVVVVVVVVVVVVVVVVVVVVVVVX71VVVVVVV5VVVXlVVVVVVVVVVVVX8dVV7VVVVfFVVVVVVVVVVVVX8t/BVVVVVVVVVVeX+PVVVXtVeXt/k363/ef//aAAgBAgMBPyH/ALLP/9oACAEDAwE/If8Ass//2gAMAwEAAhEDEQAAEIIJJJAW+3322ycmaaStgH7oTBJFtBJIJIX2/wAkQGRa0ym7aBtYQQCCCSTvQCDtsiLZQLFpJbLaBtCHGSJKSZnySCf2JPPLI3LbZLKBtCYmiIECT+SSCSRb23/0pCmLJITlCYmyalgCQBSSADO2mu0qGQxJaR3wYuya1ySSQySSZU220nYHQzJaD8qJMBYHyEBQQQSZ23im5Q0mKLKC+6BuDIAQG1QSSQZk0kULSEiLZJAPkDeRbRIQLCTeCBMk0/bQgbJZLKTPQCBLStwASd14RJ8m7bJbJLJJZSc4Qa39huCB9t/yTdklLbLbMyk0pRmCX+0MPt/ttvtgLf0hKm2km20nIPvt5JDiAEk20/8AIEzdNfaaW27ZrQFEUAej7bQAAAv78gWWgkAkgCy9O2xpJL4kkLbf7Eg77fvf7f7pEESbr6W2lf8A34ABJH/zIIABIBBH3yZBABCScJKCf23+BBMl+0tgBm5B+32/+0kOksABJAe++STYALe/ZE+TJAJb2lrW323/AJCCQD7tv9rZd+wbZJbbSSkE0m22tv8AesAEgAkkgmb9JJtpJb/2y2SQAFpL/wC3/wD/AP8A+7BEttsltoJKVslttsgJJABIQJID326AABIBObybSbbf/wD9JLaACAASAQv/ALbb/b7/AG/Sbbbbbb+2/wDpP/paASQAASQSCBJ9pu22222kl/8A/wD/ANv/AKS222S2Wy3SXSSSTbJJBtttttJP/wD22/8A9vt9AZIbttpJI20kkkkkkm20km20m0kAIBJABJbJJJAEAAAE22kA22gA5AAAYADJJJIBJJI22/8AbaSEgSSSyWCAAAAAAASwAGSSSSSSS2SSSW2SySAgAgAAACwAySSSSSSSW/2SS/4SWAgAAAAAAAGSSSAAAAAD/wD/AP8A5PASAAAAAAAEAGSSAAAAAAB//wD/AOwnj//aAAgBAQMBPxBebvL51rW8iIzoiIzGYzGYzGYiIzGYxjGMYxjGd3PFZvhu8vb41vIiMxngIjMZjMZjMZiIiMxjGMYxjGMREbnNVeN7vL293sRmMxhnRERmMxmMxmIiInMYxnTGM8bjWtbqta3m+98ZjMZjMREREZjMZjMZiInjOYzwMYzuta1qtxvy3xmMxmMxE5ucjMZjMZjMRE5ueMZ0xjGd1reN5rWtxETzvMYxjMZ3c5OZjMZjGed7jGeBjGd1vTUa1vw3xjGMZ6zGMYz1vjGNNNM1msXm61rW83W9iJzebzOYxjGeYxjGM7ebvKqs1ms1pppms3u63Wt5G6vvW+cYxms1VXuMYxiqq8vjNZrNZrTTTNZqt1ut1u+FXlXm7zfGaxms1ms1V5jGMZyqqqqryqzWazwAzWardbrdVV3jCs1VVVVVVWazWazWaqqxjGcqqqqqqqrxhnkAZw3W63VVWGGazVVVXlVVZrNZrNZrNVms1ms1VVVXiqqqq8YZ4AYZw003wGGazWb0qqqqqqzWazWazWazWazWavxAKq8VVYZ0GGdGm+AzWazV8hVVVVWazWazWazWGGGfYAAqs1msMMMc7984zWazfIVVVVVWazWazWdGGGfUABVVWawwwz4//NZrN+IBVVVZrNZ4DPuXMKqqrDDDPj/qzV+gAKwzfyAAAM/EAP5VXpfmAGfiAAAwwwz8IAEKqqqqv6wAAADDDDPwgAAqqqqqr5C/lAAAMMMM/CAACqqqqqqqqr9QAL7ArOGfiAAAqqqqqqqqqqqr5Cr8AFVfygAAFVVVVXFVVVVVVVeKqqqqqqqqq/hAAC8VVVVVVVVVVVVVVVVVVVVVVVVVfYFXwLxV4vKqqqqqqqqqqqquqqqqqqqqqqqq8VVVVVVVV8qvaqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqr2r+Gqqqqqqqqqqqqqqqqqqqqr43fFVVVfdVV9VVXtVVVVXtVVVVVV7vi/Cqv4qqqq+Kqqvavne75v4Kqqqqqr6qrnqr27+PPNX7VV9VVXtXzvjflnjd/JVVfrv4d/Xm/Lfrnjf4P//aAAgBAgMBPxD/ABDf94L/AMVf/9oACAEDAwE/EP8Az5if4En/ALXf/9k=) no-repeat 0 0 #141819;
  left: -20px;
    &__number {
      font-size: 20px;
      letter-spacing:2px
    }
  
    &__expiry-date {
      font-size: 14px;
      padding-bottom: 20px;
      text-align: center;
    }
  
    &__owner {
      text-align: left;
    }
  
    &__logo {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  
    &__strip {
      background: #000;
      height: 50px;
      margin-bottom: 30px;
    }
  
    &__signature {
      float: left;
      width: 65%;
      height: 40px;
      margin-left: 10px;
      background: #999;
    }
  
    &__ccv {
      float: left;
      margin-top: 5px;
      padding: 7px;
      background: #fff;
      color: #111;
      line-height: 1;
    }
  
    &--front {
      font-size: 16px;
      font-family: 'Source Code Pro';
      text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    }
  }
    }
.addCard{
  float: right;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
}
   
}