.edittext{
    .social-network-icon {
        // padding: 1px;
        font-size: 22px !important;
        border-radius: 20%;
        text-align: center;
        text-decoration: none;  
         margin: 0 4px;
        // border-radius: 50% !important;
      }
      
      .social-network-icon:hover {
        transform: scale(1.05) !important;
        color: white !important;
        text-decoration: none;
      
      }
     .buttonRadio1{
      border-Radius:15px !important;
      background-Color:#007bff !important;
     }
    
}
