.event-cart {
    width: 360px;

    border-radius: 5px !important;
    .img {
        height: 180px !important ;
        width: 340px;
    }

    &:hover {
        opacity: 0.7;
        transform: scale(1.1);
    }
}
