.event-list {
  width: 100%;
  height: 300px !important ;

  .img {
    width: 100%;
    height: 300px !important;
  }

  .title {
    display: none;
    text-align: center;
    margin-top: -60%;
    .title-name {
      overflow: hidden;
      text-overflow: ellipsis;

      font-weight: bolder;
      color: rgb(255, 255, 255);
      z-index: 19;
      font-size: 28px;
      text-transform: uppercase;
      visibility: inherit;
      opacity: 1;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-origin: 50% 50% 0px;
      white-space: nowrap;
      text-transform: uppercase;
    }
    .title-time {
      color: rgb(255, 255, 255);
      font-weight: bolder;
      text-align: center !important;
      z-index: 19;
      font-size: 18px;
      visibility: inherit;
      opacity: 1;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-origin: 50% 50% 0px;
      white-space: nowrap;
    }
  }

  &:hover {
    opacity: 0.9;
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    cursor: pointer;
    .title {
      display: block;
    }
  }
  .slide-container {
    width: 80%;
    margin: auto;
  }

  h3 {
    text-align: center;
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }

  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .each-fade {
    display: flex;
  }

  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }

  .each-fade .image-container img {
    width: 100%;
  }

  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
}
