.event-cart {
    width: 280px;

    border-radius: 10px !important;
    .img {
        height: 150px !important ;
        width: 280px;
    }

    &:hover {
        opacity: 0.7;
        transform: scale(1.1);
    }
}
