.history {
    padding: 10%;
    .largesearch {
        height: 40px;
    }

    .movie_card {
        width: 840px;
        .card-name {
            width: 260px;
            .img {
                height: 150px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .movie_card {
            width: 95%;

            min-height: 350px;
            height: auto;
        }

        .place {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 1280px) {
        .place {
            margin-top: 20px;
        }
    }

    .date {
        font-size: 8px !important;
        height: 40px;
    }

    .select-place {
        font-weight: bold;
        width: 100%;
    }

    .sale-icon {
        // margin-left:10em !important;
        background-image: url("../../image/calendar.svg");
    }

    .expire-icon {
        background-image: url("../../image/the-end.svg");
    }

    .upcoming-icon {
        background-image: url("../../image/upcoming.svg");
    }

    .control-icon {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: top center;
        height: 3em;
        width: 3em;
        // margin: 10 0.15em 0 0.3em;
        // vertical-align: -0.3em;
        background-size: 3em 3em;
        cursor: pointer;
    }
    .ticket {
        font-weight: 500;
        // text-align: center;
        // font-size: 20px;
        position: absolute;
        top: 5px;
        left: "10%";
        right: 1px;
        border-radius: 10px 10px 10px 30px;
        color: white;
        background: rgb(255, 52, 37);
    }
}
