.history{
   
    padding: 10%;
    .largesearch{
        height:40px;
    }

    
    .movie_card{
       
        width: 840px;
        .card-name{
            width: 260px;
           .img {
          
            height:150px;

            }
        }
    }
    @media screen and (max-width: 768px) {
        .movie_card{
          width: 95%;
         
          min-height: 350px;
          height: auto;
        }
        
        .place{
            margin-top: 20px;
         
        }
    }

    @media screen and (max-width: 1280px) {
        .place{
            margin-top: 20px;
         
        }
    }
    
    .date{
        font-size: 8px !important;
        height:40px;
    }
    
    .select-place{
        font-weight: bold;
        width: 100%;
      
    }

    .sale-icon{
        // margin-left:10em !important;
        background-image: url("../../../asserts/styles/image/calendar.svg");
      }

      .expire-icon{
        background-image: url("../../../asserts/styles/image/the-end.svg");
      }

      .upcoming-icon{
        background-image: url("../../../asserts/styles/image/upcoming.svg");
      }
      
      .control-icon {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: top center;
        height: 3em;
        width: 3em;
        // margin: 10 0.15em 0 0.3em;
        // vertical-align: -0.3em;
        background-size: 3em 3em;
        cursor: pointer;
      }
          
    
}
