.homepage {
  h1 {
    text-align: center;
    margin-top: 30px;
  }

  .high-light {
    width: 100%;
    height: auto;
    padding-top: 50px;
  }

  .list-event {
    height: 100%;

    .orgnization {
      width: 100%;
    }

    .explore {
      background: url('https://res.cloudinary.com/eventinyourhand/image/upload/v1593323314/publics/bg-3_pir7z6.jpg')
        center fixed;
      height: 200px;
      text-align: center;
      padding: 50px;
    }

    .line-clamp {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 10x;
      height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: 700;
      color: #333333;
      text-transform: uppercase;
    }

    .line-clamp1 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 25px;
      height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: bolder;
      color: #ff4d4f;
      z-index: 19;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      visibility: inherit;
      opacity: 1;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-origin: 50% 50% 0px;
      white-space: nowrap;
    }

    .latest {
      width: 100%;
    }

    .address1 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 10x;
      height: 44px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .ticket {
      font-weight: 500;
      position: absolute;
      top: 2px;
      left: '10%';
      right: 10px;
      border-radius: 10px 10px 10px 30px;
      color: white;
      background: rgb(255, 52, 37);
    }

    .ticket1 {
      font-weight: 500;
    }

    .orgnization {
      width: 100%;
    }

    .explore {
      background: url('https://res.cloudinary.com/eventinyourhand/image/upload/v1593323314/publics/bg-3_pir7z6.jpg')
        center fixed;
      height: 200px;
      text-align: center;
      padding: 50px;
    }

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      height: 40px !important;
      border-radius: 5px !important;
    }

    .line-clamp {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      // font-size: 30x;
      line-height: 25px;
      height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: 500 !important;
    }

    .line-clamp1 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      // font-size: 30x;
      line-height: 25px;
      height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: bolder;
      color: black;
      // color: rgb(255, 255, 255);
      z-index: 7;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      visibility: inherit;
      opacity: 1;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-origin: 50% 50% 0px;
      white-space: nowrap;

      // background: rgb(255, 255, 255);
    }
    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 10x;
      height: 44px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: 500;
      color: rgb(57, 54, 79);
    }

    .address1 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 10x;
      height: 44px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .ticket {
      font-weight: 500;
      // text-align: center;
      // font-size: 20px;
      position: absolute;
      top: 5px;
      left: '10%';
      right: 1px;
      border-radius: 10px 10px 10px 30px;
      color: white;
      background: rgb(255, 52, 37);
    }

    .ticket1 {
      font-weight: 500;

      position: absolute;
      top: 55%;
      font-weight: 500;

      text-align: center;

      color: whitesmoke;
    }
  }
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  padding-right: 0px;
  height: 380px;
  width: 350px;
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 8px;
}

.more-menu {
  height: 100px;
  width: 103px;
  border: 1px gray solid;
  border-radius: 8px;
  background: #e4e1e1;
  padding: 0px;
  font-size: 10px;

  .more-item {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    // border-bottom: 1px gray solid;
    &:hover {
      background: gray;
      color: black;
    }
  }
}

.list-document {
  width: 80%;
  padding-left: 20%;
  margin-left: 20%;
  .link-document {
    //width: 60%;
    &:hover {
      transform: scale(1.01);
      opacity: 0.9;
    }
    .custom-tag {
      width: 100%;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.item-image {
  height: 50vh !important;
}
