.login-page {
  background-color: #18478b;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
  .login {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
  }

  .form {
    // background-image: linear-gradient(#87ceeb, #6a5acd, #1e2952);
    background: #f2f2f2;

    z-index: 1000;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 20%;
  }
  .website-name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 10px;
  }

  .error-message {
    background-color: $background-error;
    color: $color-error;
    border-radius: 5px;
    line-height: 35px;
    padding-left: 10px;
  }

  .button-login-google {
    margin-left: 15%;
  }
  .title {
    text-align: center;
    margin-left: 20%;
    margin-right: 25%;
    .seticon {
      background-color: #ea4335;
      font-weight: bold;
      border-radius: 20%;
      font-size: 20px;
      text-align: center;
    }
  }

  .notification {
    color: black;
    font-size: 20px;
    line-height: 32px;
  }

  .changePassword {
    width: 100% !important;
    border-radius: 5px !important;
    height: 40px !important;
  }
  .inputStyle {
    height: 40px !important;
    border-radius: 10px;
    color: black;
  }
  .loginStyle {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
  }
  .title-color {
    color: black;
  }
  .title-name {
    text-align: left;
    z-index: 6;
    white-space: nowrap;
    font-size: 30px;
    line-height: 50x;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-transform: uppercase;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
  }
  .ant-btn-primary[disabled] {
    background-color: #1890ff !important;
    border-color: #1890ff !important;
    color: white !important;
  }
}
