.login-page {
  //background: linear-gradient(to right, #9292f1, #e1ebea);

  padding-left: 25%;
  padding-right: 25%;

  margin-top: 10%;

  .website-name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .error-message {
    background-color: $background-error;
    color: $color-error;
    border-radius: 5px;
    line-height: 35px;
    padding-left: 10px;
  }

  .button-login-google {
    margin-left: 15%;
  }
  .title {
    text-align: center;
    margin-left: 20%;
    margin-right: 25%;
    .seticon {
      background-color: #ea4335;
      font-weight: bold;
      border-radius: 20%;
      font-size: 20px;
      text-align: center;
    }
  }

  .notification {
    color: #999;
    font-size: 22px;
    line-height: 32px;
  }
  .changePassword {
    width: 100% !important;
    border-radius: 5px !important;
    height: 40px !important;
  }
  .inputStyle {
    height: 40px !important;
  }
}
