
    .login {

        .row{

            padding-left: 25%;
            padding-right: 25%;
            display: flex;
            margin-top: 10%;

            .website-name{
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }
            .title{
                text-align: center;
                margin-left: 20%;
                margin-right: 25%;
                .seticon{
                    background-color:  #EA4335;
                    font-weight: bold;
                    border-radius: 20%;
                    font-size: 20px;
                    text-align: center;
                }
            }
            
        }
    
        
              
    
        
    
    }

