.manageEvent {
  background: beige;
  margin-top: 8%;

  .card-container {
    margin: 8%;
  }
  .site-card-border-less-wrapper {
    padding: 30px;
    background: rgb(12, 105, 126);
    height: 250px;
    min-height: 54px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20%;
    border-radius: 15px;
  }
  .image {
    height: 240px;
    width: 100%;
    padding: 2%;
  }

  .title {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    color: #20303c;
    word-break: break-all;
  }
  .nameLink {
    text-align: center;

    font-size: 24px;
    color: #20303c;
    word-break: break-all;
  }
  .ticket {
    font-weight: 500;
    // text-align: center;
    // font-size: 20px;
    position: absolute;
    top: 2px;
    left: "10%";
    right: 10px;
    border-radius: 10px 10px 20px 30px;
    color: white;
    background: rgb(255, 52, 37);
  }
}
