.orgnization {
    .name {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #000000;
    }
    .description {
        font-size: 16px;
    }
    img {
        border-radius: 50%;
        margin-bottom: 20px;
    }
}
