.ProfileInfor{
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
  @import url("https://fonts.googleapis.com/css?family=Roboto");
  @import url("https://www.w3schools.com/w3css/4/w3.css");
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
      }
    .mt-2 img{
      margin-left: 20%;
      max-width: 200px !important;
      max-height: 150px !important;
      border-radius: 50%
    }
 }
 