.footer-background {
  background-color: #18478b;
  color: $item-color;

  .footer-content {
    margin-top: 7rem;

    .content-col {
      margin-top: 1.5rem;
    }
  }

  .footer-inline {
    font-size: 20px;
    font-weight: 600;
  }

  .flexContainer button {
    width: 32px;
    height: 32px;
  }

  .footer-space {
    margin-top: 8px;
  }

  .inputWithIcon {
    position: relative;
  }

  .inputWithIcon button {
    position: absolute;
    right: 5px;
    top: 6px;
  }

  .inputWithIcon input[type="text"] {
    height: 50px;
  }

  .footer-i {
    width: 25px;
    color: dodgerBlue;
  }

  .footer-below {
    margin-top: 30px;
  }

  .footer-below button {
    height: 35px;
    width: 50px;
  }

  .footer-hr {
    margin-top: 80px;
    border-top: 1px solid white !important;
  }

  .social-network-icon {
    padding: 1px;
    font-size: 22px;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
  }

  .social-network-icon:hover {
    transform: scale(1.05) !important;
    color: white !important;
    text-decoration: none;
  }

  .fa-facebook {
    background: #3b5998;
    color: white;
  }

  .fa-twitter {
    background: #4e92df;
    color: white;
  }

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    color: white;
  }

  .fa-google {
    background-color: #ea4335;
    color: white;
  }
  .instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  }
  .vietnamese-icon {
    background-image: url("../../../image/vietnam.svg");
  }
  .uk-icon {
    background-image: url("../../../image/uk.svg");
  }

  .control-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top center;
    height: 3em;
    width: 3em;

    background-size: 3em 3em;
    cursor: pointer;
  }
  .sizeButton {
    margin: 5px;
    width: 36px;
    height: 36px;
  }
}
