
.head{
   margin-bottom: 10%;

   .header{
      background-image: $background-image-color;
      
      .user-nav{
         z-index: 1050 ;
      }

      .web-name{
         font-weight: bolder;
         color: $secondary-color;
         font-size: 20px;
      }
   }
}
