.head {
  // margin-bottom: 10%;
  height: 52px;
  margin-bottom: -4px;

  .header {
    //  background-image: $background-image-color;
    height: 52px;
    background-color: #18478b;

    .search {
      width: 300px;
    }

    .user-nav {
      z-index: 1050;

      .login {
        font-weight: bold;
        color: $white;
      }
      .register {
        @extend .login;
        button {
          margin-top: -4px;
        }
      }
    }

    .web-name {
      font-weight: bold;
      color: $white;
      font-size: 20px;
    }
  }
}
