@import '~antd/dist/antd.css';
@import '_partials/index.scss';
@import 'componentStyles/_styleLayout/Header.scss';
@import 'componentStyles/_styleLayout/Footer.scss';
@import 'componentStyles/Event.scss';
@import 'componentStyles/Banner.scss';
@import 'componentStyles/Login.scss';
