@import '~antd/dist/antd.css';
@import '_partials/index.scss';
@import 'componentStyles/_styleLayout/Header.scss';
@import 'componentStyles/_styleLayout//Footer.scss';
@import 'componentStyles/_styleLayout/UserNav.scss';
@import 'componentStyles/Event.scss';
@import 'componentStyles/EventList.scss';