@import "~antd/dist/antd.css";
@import "_partials/index.scss";
@import "componentStyles/_styleLayout/Header.scss";
@import "componentStyles/_styleLayout/Footer.scss";
@import "componentStyles/Event.scss";
@import "componentStyles/Banner.scss";
@import "componentStyles/Login.scss";
@import "componentStyles/_styleLayout/UserNav.scss";
@import "componentStyles/EventList.scss";
@import "componentStyles/CheckCode.scss";
@import "componentStyles/History.scss";
@import "componentStyles/EditText.scss";

@import "componentStyles/Home.scss";
@import "componentStyles/EventCart.scss";
@import "componentStyles/Orgnization.scss";
@import "componentStyles/CreateEvent.scss";
@import "componentStyles/BannerBlock.scss";
@import "componentStyles/OrderTicket.scss";
@import "componentStyles/BankAccount.scss";
@import "componentStyles/ProfileInfor.scss";

@import "~antd/dist/antd.css";
@import "_partials/index.scss";
@import "componentStyles/_styleLayout/Header.scss";
@import "componentStyles/_styleLayout/Footer.scss";
@import "componentStyles/Event.scss";
@import "componentStyles/Banner.scss";
@import "componentStyles/Login.scss";
@import "componentStyles/_styleLayout/UserNav.scss";
@import "componentStyles/EventList.scss";
@import "componentStyles/CheckCode.scss";
@import "componentStyles/History.scss";
@import "componentStyles/EditText.scss";

@import "componentStyles/Home.scss";
@import "componentStyles/EventCart.scss";
@import "componentStyles/Orgnization.scss";
@import "componentStyles/CreateEvent.scss";
@import "componentStyles/BannerBlock.scss";
@import "componentStyles/OrderTicket.scss";
@import "componentStyles/BankAccount.scss";
@import "componentStyles/Social.scss";
@import "componentStyles/Video.scss";
@import "componentStyles/CreditCard.scss";
@import "componentStyles/ManageEvent.scss";
