body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;

  /* //max-height: 500vh; */
}

code {
  font-family: 'Segoe UI', 'Roboto', Sans-serif;
}

#root {
  padding: 0px;
  margin: 0px;
}
