@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900&display=swap');
// General
$black-black: #00101e;
$blueLight: #06d0ff;
$white: #ffffff;
$whiteSmoke: #fbfbfb;
$fontFamily-Muli: 'Muli', sans-serif;