@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900&display=swap");
// General

// === COLORS ===
$brown: #424242;
$blueLight: #0c697e;
$white: #ffffff;
$whiteSmoke: #fbfbfb;
$fontFamily-Muli: "Muli", sans-serif;
$baseColor: #4a148c;
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$item-color: rgb(243, 243, 243);
$background-image-color: linear-gradient(to right, #0d0d8b, #44aea9);
$background-color: linear-gradient(to top, #3c3cf5, #a7f0ec);
$background-error: #e8b3b3;
$color-error: #7d0200;

// === FONTS ===
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;

// === SIZES ===
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
$icon-size: 45px;
$text-size: 12px;
//Border
$borderColor: #ededed;
$borderFrame: 2px solid #525d74;
